* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(44, 43, 41, 255);
}

.navbar-custom {
  background-color: rgb(0, 91, 170);
  margin-bottom: 5rem;
}

.container i {
  font-size: 70px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container .botao {
  margin: 10px;
  cursor: pointer;
}


.container button {
  display: flex;
  align-items: center;

  padding: 10px;
  width: 100%;
  border-radius: 12px;
  font-weight: bold;
}


#botao_notas_faltas {
  background-color: rgb(254, 243, 175);
}

#botao_pin {
  background-color: rgb(223, 159, 63)
}

#link_botao {
  text-decoration: none;
}

#botao_horario_prova {
  background-color: rgb(242, 204, 142);
}

#botao_horario_aula {
  background-color: rgb(223, 122, 94);
}

#botao_mensagens {
  background-color: rgb(121, 164, 144);
}

@media (max-width: 700px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}